<h1><%= @title %></h1>
<p><%= @msg %></p>
<%= form_tag(controller: "helo", action: "index") do %>
<!-- 　フォームのformタグを生成するためのもの -->
	<%= radio_button_tag("r1", "radio1") %>
	<%= label_tag("r1_radio_1", "Radio Button 1") %><br>
	<%= radio_button_tag("r1", "radio2") %>
	<%= label_tag("r1_radio_2", "Radio Button 2") %><br>
	<%= submit_tag("Click") %>
<% end %>
